<!DOCTYPE html>
<html>
{{>header}}
<body>
{{>navbar}}
<h2>Scret</h2>
<p>Resize the browser window to see the effect. When the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other.</p>

<div class="container">
  
</div>

</body>
</html>
